:root {
    --cor-amarelo-principal: #a09107;
    --cor-vermelha-media: #f89284;
    --cor-amarelo-fraca: #ccca50;

    --cor-marrom-fraco: #ebd5d2;

    --cor-rosa-principal: #be4aab;
    --cor-azul-media: #cf60b7;
    --cor-rosa-fraca: #b45db0;

    --cor-roxa-fraca: #9191f3;

    --cor-titulo-fraco: #e68ac7;
    --cor-titulo-forte: #f394c4;

    --cor-padrao: #f0cdcd;
    --cor-secundaria: #000000;
}